# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
nextjs-frontend/node_modules
nextjs-frontend/.pnp
nextjs-frontend/.pnp.js
nextjs-frontend/.yarn/install-state.gz

# testing
/coverage

# next.js
nextjs-frontend/.next/
nextjs-frontend/out/

# production
nextjs-frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/backend/.venv

backend/fastapi/processed_data
backend/fastapi/__*
